

@import "../../assets/less/common.less";


body {
    width: 334px;
    text-align: left;
}

.type-main {
    height: 100%;
}

.type-box {
    height: 50%;
}

.type-header .el-button {
    padding: 5px;
}
