
@barHeight: 40px;
@headerBgColor: #B3C0D1;

body {
    font-size: 12px;
    margin: 0;
}

.el-icon-logo {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url( "../img/save-everywhere24.png" ) no-repeat left top;
    margin-bottom: -6px;
}

.search_hl {
    background-color: yellow;
    display: inline-block;
    padding: 0 0px;
}

.el-loading-mask {
    position: fixed;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}
